.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.header {
    background-color: #dceafe;
    color: #003366;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
    margin-bottom: 15px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 50%;

}
.input-box {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}
.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: left;
    margin-bottom: 15px;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 0.9em;
    cursor: pointer;
}
.array-label {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    width: 50%;
}

.btn-blue { background-color: #007bff; }
.btn-gray { background-color: #6c757d; }
.btn-green { background-color: #28a745; }
.btn-red { background-color: #dc3545; }
.btn-yellow { background-color: #ffc107; color: black; }
.btn-cyan { background-color: #17a2b8; }
.btn-black { background-color: #343a40; }

div p {
    background-color: blue;
}